/* Sets up body, topography, and global HTML tags */

body {
  font-size: 1rem;
  font-family: var(--font-sans);
  background-color: var(--body-bg);
  color: var(--text-primary);
}

h1 {
  color: var(--text-secondary);
  font-family: var(--font-serif);
  
  /* min-font 32px/ 2rem | max-font 40px/ 2.5rem */
  font-size: clamp(2.000rem, calc(1.857rem + 0.714vw), 2.500rem);
  line-height: var(--tracking-normal);
}

h2 {
  color: var(--brown-800);
  font-family: var(--font-serif);
  font-size: var(--font-xl);
  font-weight: normal;
  line-height: var(--tracking-normal);
}

hr {
  border: none;
  border-top: 1px solid var(--divider-light);
  width: 100%;
}

ol,
ul {
  padding-left: 0;
  margin-left: 1.5rem;
}

figure {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  background-color: var(--figure-bg);
  color: var(--figure-text);
  padding: var(--spacing-300);
  border-radius: var(--border-sm);
  line-height: var(--tracking-normal);

  & figcaption {
    color: var(--figure-title);
    font-size: var(--font-lg);
    font-weight: var(--font-semi-bold);
    line-height: var(--tracking-normal);
  }

  & ul {
    font-family: var(--font-sans);
    line-height: var(--tracking-large);

    /* Remove default bullets */
    list-style: none;
    margin: 0;
  }

  & li {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
  }

  /* Custom list bullet */
  & li::before {
    content: '\2022';
    font-size: 1.5rem;
    line-height: 0;
    color: var(--figure-title);
    padding-left: var(--spacing-100);
    padding-right: var(--spacing-150);
  }
}

table {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  border-collapse: collapse;
  table-layout: fixed;

  & tr {
    display: flex;
    width: 100%;
  }

  & th, td {
    width: 100%;
    padding: var(--spacing-150) var(--spacing-400);
    text-align: left;
    font-weight: var(--font-normal);
  }

  & td {
    color: var(--text-accent);
    font-weight: var(--font-bold);
  }

  & tr:not(:last-child) td,
  tr:not(:last-child) th {
    border-bottom: 1px solid var(--divider-light);
  }
}

caption {
  line-height: var(--tracking-large);
  text-align: left;
}