/* Handles major page grids, containers, and sections */

.wrapper {
  margin: auto;
  max-width: 46rem;
  padding: var(--spacing-500);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  margin: 0;
}