/* Removes default browser margins and box-sizing */

/* 1. Use a more-intuitive box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margins */
* {
  margin: 0;
}

/* 3. Improve text rendering */
body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

/* 4. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 5. Inherit fonts for form elements */
input,
button,
textarea,
select {
  font: inherit;
  appearance: none;
}

/* 6. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 7. Improve line-wrapping (progressive enhancement) */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
